<h1>Városok</h1>

<table class="table table-striped table-success" [formGroup]="cityForm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Azonosító</th>
            <th>Energiaigény</th>
            <th>Állapot</th>
            <th>Helyszín</th>
        </tr>
        <tr>
            <th>
                <input type="text" formControlName="id">
            </th>
            <th>
                <input type="text" formControlName="identifier">
            </th>
            <th>
                <input type="text" formControlName="energyDemand">
            </th>
            <th>
                <input type="text" formControlName="status">
            </th>
            <th>
                <input type="text" formControlName="location">
            </th>
        </tr>
    </thead>
    <tbody>
        @for(city of (cityList | cityfilter: cityForm.value) ; track city.id) {
            <tr>
                <td>{{city.id}}</td>
                <td>{{city.identifier}}</td>
                <td>{{city.energyDemand}}</td>
                <td>{{city.status}}</td>
                <td>{{city.location}}</td>
            </tr>
        }
    </tbody>
</table>
